.ht-box-icon {
    &.style-01 {
        & .icon-box-wrap {
            display: flex;
            padding: 37px 30px;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
            // responsive
            @media #{$extra-small-mobile}{
                display: block;
            }
            & .image {
                position: relative;
                flex-shrink: 0;
                margin: 0 27px 0 0;
                border: 3px solid #f5f5f5;
                height: 114px;
                width: 114px;
                line-height: 114px;
                text-align: center;
                border-radius: 50%;
            }
            & .content {
                & .heading{
                    color: #6d70a6;
                    margin-bottom: 15px;
                }
                & .service_text{
                    color: $body-text-color;
                }
            }
        }
        &:hover {
            .icon-box-wrap {
                transform: translateY(-5px);
                background: #fff;
                box-shadow: 0 10px 50px 5px rgba(89, 69, 230, 0.1);
            }
        }
    }
    &.style-02 {
            padding: 30px;
            border-radius: 5px;
            text-align: center;
            align-items: center;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            
            transition: all 0.3s ease-in-out;
            & .icon {
                width: 80px;
                height: 80px;
                line-height: 80px;
                text-align: center;
                border-radius: 26px;
                font-size: 30px;
                color: #fff;
                margin-bottom: 19px;
                
            }
            & .content {
                & .heading {
                    font-size: 15px;
                    color: #696969;
                    margin-bottom: 0;
                }  
            }
        &:hover {
                transform: translateY(-5px);
                background: #fff;
                box-shadow: 0 10px 50px 5px rgba(89, 69, 230, 0.1);
        }
    }
}


/* ============== */

.dark-mode .service-grid > span{
    background-color: $body-bg-color-dark;
}

.service-grid {
    & .ht-service-box {
        &--two {
            & > span {
                padding: 35px 40px 49px;
                border-radius: 5px;
                display: block;
                position: relative;
                transition: $transition--default;
                &:hover{
                    transform: translateY(-5px);
                    box-shadow: 0 18px 40px 5px rgba(51, 51, 51, 0.1)
                }
            }
        }
        &--four {}
        
    }
    margin-bottom: 25px;
    & .sub-heading {
        color: #6d70a6;
        margin-bottom: 10px;
        font-size: 15px;
    }
    & .heading{
        color: #6d70a6;
        margin-bottom: 15px;
    }
    & .service_text{
        color: $body-text-color;
    }
}

.ht-service-box {
    &--three {
        padding: 37px 30px 37px 17px;
        box-shadow: 0 0 40px 5px rgba(51, 51, 51, 0.1);
        background: #fff;
        border-radius: 10px;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        transition: $transition--default;
        &:hover{
            transform: translateY(-5px);
            box-shadow: 0 18px 40px 5px rgba(51, 51, 51, 0.1)
        }
        
        & .service-box-wrap {
            display: flex;
            align-items: center;
            height: 100%;
            @media #{$small-mobile}{
                flex-direction: column;
            }
        }
        & .heading{
            color: $theme-color--default;
            margin-bottom: 15px;
        }
        & .service_text{
            color: $body-text-color;
        } 
    }   
}
    
.ht-product-service-box {
    float: left;
    width: 50%;
    // responsive
    @media #{$small-mobile}{
        width: 100%;
    }
    & .content-header {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        & .icon {
            border-radius: 8px;
            font-size: 34px;
            flex-shrink: 0;
            margin-right: 20px;
            transition: $transition--default;
            color: $theme-color--default;
        }
        & .heading {
            font-size: 18px;
            color: #333;
        }
    }
    & .content-body {
        & .service_text {
            color: $body-text-color;
        }
    }
}























